{% load static %}
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                        <a class="nav-link" href="">About Us</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'articles' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'articles' %}">All Blogs</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">
                        <a class="nav-link" href="{% url "contact_us" %}">Contact Us</a>
                    </li>

                    {% if request.user.is_authenticated %}

                        <li class="nav-item {% if request.resolver_match.url_name == 'add_article' %}active{% endif %}">
                            <a class="nav-link" href="{% url "add_article" %}">Add Article</a>
                        </li>

                        <li class="nav-item">

                            <div class="d-flex">
                                {% if user.profile.image %}
                                    <span><a href="{% url "edit_info" %}"><img src="{{ user.profile.image.url }}" width="40px" height="40px"
                                               style="border-radius: 100%" alt="profile"></a></span>

                                {% else %}
                                    <span><a href="{% url "edit_info" %}"><img src="{% static "images/Default-Profile-picture.png" %}" width="40px"
                                               height="40px" style="border-radius: 100%" alt="profile"></a></span>

                                {% endif %}
                                <a class="nav-link" href="">{{ request.user.username }}</a>
                                <a href="{% url "logout" %}"><span class="badge badge-danger mt-2">Logout</span></a>

                            </div>

                            {% else %}
                            <div class="d-flex">
                                <a class="nav-link" href="{% url "login" %}">Login</a>
                                <span class="mt-1">|</span>
                                <a class="nav-link" href="{% url "register" %}">Register</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>